.search-ctqt {
  display: flow-root;
}

.title {
  font-size: 24px !important;
  font-family: Roboto-bold;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
  margin-left: 24px !important;
}

.label-item {
  font-size: 14px !important;
  font-family: Roboto-bold;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.table-css {
  td {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  th {
    text-transform: uppercase;
  }
  max-width: 100%;
  overflow: auto;

  th:nth-child(1), td:nth-child(1) {
    min-width: 5rem !important;
    text-align: center;
  }

  th:nth-child(2), td:nth-child(2) {
    min-width: 15rem !important;
    text-align: center;
  }

  td:nth-child(3) {
    min-width: 7rem !important;
  }

  th:nth-child(4), td:nth-child(4) {
    min-width: 7rem !important;
  }

}

.div-search input  {
  max-width: 90% !important;
}

.label-status {
  font-weight: bold;
}
