<div class="search-ctqt">
  <h1 class="title-page">Chỉnh sửa tài khoản Blacklist
    <mat-icon  class=" mbb-icon ic-error_outline fc-primary mrr-0" [matTooltip]="'Đây là tính năng phục vụ cấu hình tài khoản Blacklist' | translate">
    </mat-icon>
  </h1>
  <div class="panel mrt-4">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">{{'Thông tin chung' | uppercase}}</label>
    </div>
    <div class="panel-body panel-padding">
      <form class="mrt-4" [formGroup]="form" fxLayout="row wrap">
        <sm-text-control [item]="$accountNumber" fxFlex="50" [form]="form" (input)="onInputChange($event, $accountNumber.key)"></sm-text-control>
        <sm-select-control [item]="$bank" fxFlex="50" [form]="form"></sm-select-control>
        <sm-select-control [item]="$accountType" fxFlex="50" [form]="form"></sm-select-control>
        <sm-select-control [item]="$transType" fxFlex="50" [form]="form"></sm-select-control>
        <dform-form-group-slide-toggle fxFlex="30" class="mrl-2" [item]="$active" [form]="form"
                                       fxLayoutAlign="start center"></dform-form-group-slide-toggle>
      </form>
    </div>
  </div>

  <div class="panel panel-bottom dform-child-content">
    <dform-footer [listButton]="listButton" (eventClick)="onClickBtn($event)"></dform-footer>
  </div>
</div>
