.search-ctqt {
  display: flow-root;
}

.title {
  font-size: 24px !important;
  font-family: Roboto-bold;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
  // margin-left: 24px !important;
}

.table-css {
  max-width: 100%;
  overflow: auto;
  td {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  th {
    text-transform: uppercase;
  }
  th:nth-child(1), td:nth-child(1) {
    min-width: 2rem !important;
    text-align: center;
  }

  th:nth-child(2), td:nth-child(2) {
    max-width: 15rem !important;
  }

  td:nth-child(3), th:nth-child(3){
    min-width: 5rem !important;
  }

  th:nth-child(4), td:nth-child(4) {
    max-width: 30rem !important;
  }

  th:nth-child(5), td:nth-child(5) {
    min-width: 5rem !important;
    text-align: center;
  }

  th:nth-child(6), td:nth-child(6) {
    min-width: 5rem !important;
    text-align: center;
  }

}
