<div class="dilog-message-error pds-3">
  <div class="title-message-error">
    Chi tiết lịch sử thay đổi
  </div>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="pds-3 pdu-6">
  <div class="pds-2" fxLayout="row wrap">
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">ID</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.id}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Mã kho bạc</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.code}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Tên kho bạc</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.name}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Tài khoản ghi có</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.creditAccountNo}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Mã chi nhánh</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.branchCode}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Loại thay đổi</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.action}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Người tạo</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.createdBy}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Thời gian tạo</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.createdAt | date: 'dd/MM/yyyy HH:mm'}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Người sửa đổi</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.updatedBy}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Thời gian sửa đổi</label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</label>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" class="mrb-4">
        <label class="label-message-error-detail" fxFlex="33">Lý do sửa đổi </label>
        <label class="content-message-error-detail">{{this.stateTreasuriesHistoryDetail?.reason}}</label>
      </div>
    </div>

  </div>
</div>


  <div mat-dialog-actions class="" fxLayout="row" fxLayoutAlign="center">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
      Đóng
    </button>
  </div>
