<div class="search-ctqt">
  <h2 class="title-page">
    Danh sách kênh chuyển tiền định tuyến
    <mat-icon class=" mbb-icon ic-error_outline fc-primary mrr-0"
      [matTooltip]="'Đây là tính năng phục vụ Danh sách kênh chuyển tiền định tuyến' | translate">
    </mat-icon>
  </h2>

  <div class="panel batch-search mrt-8" style="z-index: 1000;">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">
        TÌM KIẾM
      </label>
    </div>
    <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="search()">
      <sm-select-control [item]="$transferChannel" fxFlex="25" [form]="form"></sm-select-control>
      <sm-select-control [item]="$transferType" fxFlex="25" [form]="form"></sm-select-control>

      <div fxLayoutAlign="end center" class="mrt-5">
        <button type="submit" fxFlex="20" class="btn btn-primary mrr-2">
          <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
          <span>Tìm kiếm</span>
        </button>
        <button type="submit" class="btn btn-light-blue" (click)="resetFormSearch()">
          <mat-icon class="mbb-icon ic-refresh mrl-2"></mat-icon>
        </button>
      </div>
    </form>
  </div>

  <div class="panel mrt-4 dform-child-content">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">
        DANH SÁCH
      </label>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="enableUpdate" fxFlex="35" class="btn btn-dark-blue mrl-4" (click)="onClickEdit()">
          <mat-icon class="mbb-icon ic-edit"></mat-icon>
          <span>Chỉnh sửa thứ tự ưu tiên</span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div [ngClass]="'table-css'">
        <table class="dform-table table-info w-full" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>THỨ TỰ ƯU TIÊN</th>
            <td mat-cell *matCellDef="let element;"> {{element.priority}} </td>
          </ng-container>

          <ng-container matColumnDef="transferChannel">
            <th mat-header-cell *matHeaderCellDef>TÊN KÊNH CHUYỂN TIỀN</th>
            <td mat-cell *matCellDef="let element;">{{element.transferChannel}} </td>
          </ng-container>

          <ng-container matColumnDef="typeChannel">
            <th mat-header-cell *matHeaderCellDef>PHÂN LOẠI</th>
            <td mat-cell *matCellDef="let element;"> {{element.transferType}} </td>
          </ng-container>


          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>TRẠNG THÁI</th>
            <td mat-cell *matCellDef="let element;">
              <mat-slide-toggle (change)="onClickChangeStatus($event, element)" color="primary" [checked]="element.active" [disabled]="!this.enableUpdate"> </mat-slide-toggle>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-data *ngIf="!dataSource || (dataSource && dataSource.data && dataSource.data.length === 0)">
        </app-no-data>
      </div>
    </div>
    <div class="panel-footer">
      <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="changePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [pageSizeList]="[10, 20, 50, 100]">
      </dform-pagination-plus>
    </div>
  </div>
</div>
