.search-ctqt {
  display: flow-root;
}

.title {
  font-size: 24px !important;
  font-family: Roboto-bold;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
}

.label-item {
  font-size: 14px !important;
  font-family: Roboto-bold;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.div-search form {
  width: 100%;
  display: flex;
  align-items: center;
}

.div-search .search-input-custom {
  min-width: 80% !important;
}

.label-status {
  font-weight: bold;
}

.transaction-content {
  max-height: 60px;
  overflow-y: scroll;
  word-wrap: break-word; /* Deprecated but works in some cases */
  overflow-wrap: break-word; /* Standard way */
  white-space: normal;
}

// .white-space-wrap {
//   white-space: normal;      /* Cho phép xuống dòng bình thường */
//   word-break: break-word;   /* Cho phép xuống dòng nếu quá dài */
//   word-wrap: break-word;    /* Tương tự, để xuống dòng khi không còn chỗ */
// }

.custom-css-reason {
  max-height: 60px;
  overflow-y: scroll;
  word-wrap: break-word; /* Deprecated but works in some cases */
  overflow-wrap: break-word; /* Standard way */
  white-space: normal;
}