
.button-close-df-confirm {
    margin-top: 0px !important;
    color: #000000 !important;
}

.max-length-info {
    display: flex;
    justify-content: end;
    opacity: 0.5;
    font-size: 12px;
  }

  .custom-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 115%;
  }
  