<div class="search-ctqt">
  <h2 class="title-page">
    INHOUSE TRANSFER
  </h2>
  <div class="mrt-4">
    <div class="config-content">
      <div *ngFor="let config of availableConfigs" class="config-box" (click)="handleNavigate(config.pageUrl)">
        <div fxlayoutalign="center center" class="config-box-content">
          <mat-icon class="content-icon mbb-icon lg" [ngClass]="config.icon"></mat-icon>
          <span style="text-align: center; margin: 10px">{{config.configName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
