.search-ctqt {
  display: flow-root;
}

.title {
  font-size: 24px !important;
  font-family: Roboto-bold;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
  margin-left: 24px !important;
}

::ng-deep .custom-disabled-toggle button[disabled] {
  opacity: 1 !important;
}
