<div class="search-ctqt">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="title-page m-0">
      Chi tiết tỉnh thành
      <mat-icon class="mbb-icon ic-error_outline fc-primary mrr-0"
                [matTooltip]="'Đây là tính năng phục vụ theo dõi, chi tiết tỉnh thành' | translate">
      </mat-icon>
    </h1>

    <button *ngIf="enableView" class="btn btn-light-blue" (click)="onClickHistory()">
      <mat-icon class="mbb-icon ic-calendar"></mat-icon>
      <span>Xem lịch sử</span>
    </button>
  </div>
  <div class="panel mrt-4">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">{{'Thông tin chung' | uppercase}}</label>
    </div>
    <div class="panel-body panel-padding">
      <!-- Dòng 1: Mã tỉnh thành + Tên tỉnh thành -->
      <div fxLayout="row" style="margin-bottom: 20px;">
        <div fxFlex="50" fxLayout="row">
          <label fxFlex="30">Mã tỉnh thành</label>
          <label style="font-weight: bold;">{{ provinceContent?.cityCode }}</label>
        </div>
        <div fxFlex="50" fxLayout="row">
          <label fxFlex="30">Tên tỉnh thành</label>
          <label style="font-weight: bold;">{{ provinceContent?.cityName }}</label>
        </div>
      </div>

      <!-- Dòng 2: Mô tả chiếm 100% -->
      <div fxLayout="row" style="margin-bottom: 20px;">
        <label fxFlex="15">Mô tả</label>
        <label fxFlex style="font-weight: bold;">{{ provinceContent?.description }}</label>
      </div>

      <!-- Dòng 3: Trạng thái chiếm 100% -->
      <div fxLayout="row" style="margin-bottom: 20px;">
        <label fxFlex="15">Trạng thái</label>
        <mat-slide-toggle
          class="custom-disabled-toggle"
          color="primary"
          [disabled]="true"
          [checked]="provinceContent?.active"
        ></mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="panel panel-bottom dform-child-content button-footer" >
    <dform-footer [listButton]="listButton" (eventClick)="onClickActionBtn($event)"></dform-footer>
  </div>
</div>
