@import 'src/styles-variables';

.search-ctqt {
  display: flow-root;
}

.title {
  font-size: 24px !important;
  font-family: Roboto-bold !important;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
  margin-left: 24px !important;
}

.error-message {
  //margin-top: 10px;
  color: $color-sematic-error;
  font-weight: normal;
  font-style: italic;
}

.table-css {
  max-width: 100%;
  overflow: auto;

  ::ng-deep .mat-mdc-form-field-bottom-align:before {
    display: none !important;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
  }
  ::ng-deep .mat-mdc-form-field-flex {
    margin-top: -7px !important;
  }

  .input-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .form-field {
    //padding: 10px;
    margin-bottom: 10px;
    width: 100%;

    .table-input {
      font-family: Roboto !important;
      font-size: 12px;
      height: 52px //Để căn chỉnh lại vị trí của input trên UAT, comment lại nếu muốn đụng CSS trên DEV
    }

    .table-input[disabled] {
      cursor: default;
    }

    .table-input,
    .mat-mdc-select {
      font-family: Roboto !important;
      font-size: 12px;
      height: 52px !important; /* Đồng bộ chiều cao */
      line-height: 52px !important;
      display: flex;
      align-items: center;
    }

    .mat-mdc-form-field-flex {
      height: 52px !important;
      align-items: center;
    }

    .mat-mdc-select-value {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .table-input[disabled] {
      cursor: default;
    }
  }

  .form-field:last-of-type {
    margin-bottom: 0;
  }

  .icon-input {
    font-size: 24px;
    opacity: 0.2;
  }

  th:nth-child(1), td:nth-child(1),
  th:nth-child(2), td:nth-child(2),
  th:nth-child(3), td:nth-child(3) {
    width: 30% !important;  /* Ba cột đầu mỗi cột 30% */
    text-align: start !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th:nth-child(4), td:nth-child(4) {
    width: 10% !important;  /* Cột thứ tư cuối cùng 10% */
    text-align: center !important;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  th {
    text-transform: uppercase;
  }
}
