<div class="search-ctqt">
  <h2 class="title-page">
    Quản lý file nội bộ
    <mat-icon class=" mbb-icon ic-error_outline fc-primary mrr-0"
      [matTooltip]="'Đây là tính năng phục vụ tra cứu file đối soát' | translate">
    </mat-icon>
  </h2>
  <div class="panel batch-search mrt-8">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">
        TÌM KIẾM
      </label>
    </div>
    <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="search()">

      <sm-text-control [item]="$fileName" fxFlex="25" [form]="form"></sm-text-control>
      <sm-date-control [item]="$creationDateTime" fxFlex="25" [form]="form"></sm-date-control>
      <sm-date-control [item]="$toCreationDateTime" fxFlex="25" [form]="form"></sm-date-control>

      <div class="mrr-2" fxLayoutAlign="end center">
        <button [disabled]="this.form.invalid" type="submit" fxFlex="25" class="btn btn-primary mrr-2">
          <mat-icon class="mbb-icon ic-search mrl-2"></mat-icon>
          <span>Tìm kiếm</span>
        </button>
        <button type="submit" class="btn btn-light-blue" (click)="resetFormSearch()">
          <mat-icon class="mbb-icon ic-refresh mrl-2"></mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div style="z-index: 0;" class="panel mrt-4 dform-child-content" [ngClass]="isChecker ? 'panel-bottom' : ''">
    <div class="panel-heading justify-content-between bdt">
      <label fxFlex="50">
        DANH SÁCH
      </label>
    </div>
    <div class="panel-body">
      <div [ngClass]="'table-css'">
        <table class="dform-table table-info w-full" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">

          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef>STT</th>
            <td mat-cell *matCellDef="let element;"> {{element.stt}} </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Mã tham chiếu</th>
            <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>Tên file</th>
            <td mat-cell *matCellDef="let element;"> {{element.fileName}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>TRẠNG THÁI</th>
            <td mat-cell *matCellDef="let element"
                [innerHtml]="getLabel(element.status)"
                class="df-min-10">
              {{element.status}}
          </ng-container>


          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
            <td mat-cell *matCellDef="let element;">{{element.createdAt | date: 'dd-MM-YY hh:mm:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>Ngày câp nhật</th>
            <td mat-cell *matCellDef="let element;">{{element.updatedAt | date: 'dd-MM-YY hh:mm:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="fileUrl">
            <th mat-header-cell *matHeaderCellDef>URL File</th>
            <td mat-cell *matCellDef="let element;"> {{element.fileUrl}} </td>
          </ng-container>


          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>HÀNH ĐỘNG</th>
            <td mat-cell *matCellDef="let element;">
              <button *ngIf="enableView" mat-icon-button (click)="previewFile(element)" class="mrr-1">
                <mat-icon class="mbb-icon ic-visibility fc-primary" [matTooltip]="'Xem trước' | translate">
                </mat-icon>
              </button>
              <button *ngIf="enableView" mat-icon-button (click)="downloadFile(element)">
                <mat-icon class="mbb-icon ic-download_file fc-primary" [matTooltip]="'Download' | translate">
                </mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-data *ngIf="!dataSource || (dataSource && dataSource.data && dataSource.data.length === 0)">
        </app-no-data>
      </div>
    </div>
    <div class="panel-footer">
      <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="changePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [pageSizeList]="[10, 20, 50, 100]">
      </dform-pagination-plus>
    </div>
  </div>
</div>
